@page "/Wizard"
@attribute [RenderModeInteractiveServer]

<h3>Onboarding</h3>

<section>

    @switch (currentStep)
    {
        case "Start":
            <Start/>
            break;
        case "Job":
            <Job OnJobSelected=""/>
            break;
        case "Review":
            <Review/>
            break;
    }

    <button @onclick="Progress">Next</button>

</section>


@code {

    string currentStep = "Start";

    Dictionary<string, string> steps = new Dictionary<string, string>
    {
        ["Start"] = "Job",
        ["Job"] = "Review"
    };

    private void Progress()
    {
        steps.TryGetValue(currentStep, out var nextStep);
        if (nextStep != null)
            currentStep = nextStep;
    }

}