@if(!dismissed)
{
    <div class="border p-4 d-flex justify-content-between align-items-start"> 
        <p class="fs-2">
            @Text
        </p> 
        <button @onclick="()=>dismissed=true">
            X
        </button>       
    </div>
}

@code {
    
    [Parameter]
    public string Text { get; set; }

    bool dismissed;
    
}