@page "/RenderInfoDemo"
@rendermode InteractiveAuto

<h3>Render Info</h3>

<ul>
    <li>Name: @RendererInfo.Name</li>
    <li>Is Interactive: @RendererInfo.IsInteractive</li>
    <li>Assigned Render Mode: @AssignedRenderMode</li>
</ul>