@page "/Products/{Id}"
@using BlazorDemoApp.Shared.Data
@inject IProductStore Store

<h3>@details.Title</h3>

<p>@details.Description</p>

<RelatedProducts Id="Convert.ToInt32(Id)" @rendermode="@RenderMode.WebAssembly" />

@code {
    private ProductDetails details;

    [Parameter]
    public string Id { get; set; }

    protected override Task OnParametersSetAsync()
    {
        details = Store.Get(Convert.ToInt32(Id));
        return base.OnParametersSetAsync();
    }

}