@page "/CustomerInviteHTMLForm"

<form method="post" @formname="invite" @onsubmit="InviteCustomer" class="col-md-4">
    <div class="mb-2">
        <label for="firstName" class="form-label">First Name:</label>
        <InputText id="firstName" class="form-control" @bind-Value="CustomerInvite.FirstName"/>
    </div>
    <div class="mb-2">
        <label for="firstName" class="form-label">Email:</label>
        <InputText id="email" class="form-control" @bind-Value="CustomerInvite.Email"/>
    </div>
    <div class="mb-2">
        <button type="submit" class="btn btn-primary">Invite</button>
    </div>
    <AntiforgeryToken />
</form>

@if (customerInvited)
{
    <div>
        <span>Customer Invited - Ask them to check their inbox to complete the signup process.</span>
    </div>   
}

@code {

    [SupplyParameterFromForm]
    public CustomerInvite CustomerInvite { get; set; } = new();
    
    bool customerInvited = false;
    
    private void InviteCustomer()
    {
        Console.WriteLine("Inviting Customer: " + CustomerInvite.Email);
        customerInvited = true;
        CustomerInvite = new();
    }
    
}