@page "/GridList"
@using BlazorDemoApp.Shared.Data
@inject IProductStore Store

<section class="container my-4">
    <h2>Popular Products</h2>
    <div class="row row-cols-1 row-cols-md-2 row-cols-lg-3 g-4 mt-2">
        @foreach (var product in products)
        {
            <div class="col">
                <ProductCard Product="@product"></ProductCard>
            </div>
        }
    </div>

</section>

@code {
    private List<ProductSummary> products;

    protected override Task OnInitializedAsync()
    {
        products = Store.List();
        return base.OnInitializedAsync();
    }

}