@page "/Products"
@using BlazorDemoApp.Shared.Data
@inject IProductStore Store

<h3>List</h3>

<section>
    @foreach (var item in products)
    {
        <a href="/Products/@item.Id">
            <div class="row align-items-center border-bottom">
                <div class="col-sm">
                    <img src="images/@item.Image" class="mr-3">
                </div>
                <div class="col-sm">
                    <h5 class="mt-0">@item.Title</h5>
                </div>
                <div class="col-sm">
                    <h5 class="mt-0">@item.Price.ToString("c")</h5>
                </div>
            </div>
        </a>
    }
</section>

@code {
    private List<ProductSummary> products = new();

    protected override async Task OnInitializedAsync()
    {
        products = Store.List();
    }

}