@using BlazorDemoApp.Shared.Data

<Card ImageUrl="@($"/images/{Product.Image}")"
      ImageAltText="Product Image Description"
      Title="@Product.Title"
      Text="@(Product.Price.ToString("C"))">
    <FooterContent>
        <span>FREE Delivery</span>
    </FooterContent>
</Card>

@code {

    [Parameter] public ProductSummary Product { get; set; }

}