@page "/"

<PageTitle>Index</PageTitle>

<Banner Text="Hi from Blazor Web Assembly" @rendermode="@RenderMode.InteractiveAuto"/>

<h3 class="mt-4">Online Store</h3>
<a href="/Products">View Products</a>

<h3 class="mt-4">Dashboard</h3>
<a href="/Dashboard">View Dashboard</a>

<h3 class="mt-4">Customer Support Demo</h3>
<a href="/CustomerSupport/Dashboard">View Customer Support</a>

<h3 class="mt-4">Customer Invite Form (EditForm)</h3>
<a href="/Customer/Invite">Invite Customer (EditForm)</a>

<h3 class="mt-4">Customer Invite Form (HTML form)</h3>
<a href="/CustomerInviteHTMLForm">Invite Customer (HTML Form)</a>